@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    font-family: "DM Sans", sans-serif;
}

h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1,.h0{
    font-family: "Plus Jakarta Sans", sans-serif;
}

.h0 {
    font-size: calc(5rem + 0.9vw);
    text-transform: uppercase;
    font-weight: 800;
}

@media(min-width: 1200px) {
    .h0 {
        font-size: 9rem;
        line-height: 7rem;
    }
}

.space-y-1{
    padding-top: 6.6rem;
    padding-bottom: 6.6rem;
}

.space-t-1{
    padding-top: 6.6rem;
}

.bg-flower{
    background-image: url('../images/bg-flower.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #e2efff;
}

.bg-blue-1{
    background-color: #4974b8;
}

.bg-blue-2{
    background-color: #a4c7e4;
}

.dark-mode .bg-flower {
    background-image: url('../images/bg-flower-dark.svg');
    background-color: #33373d;
}

.nav-link{
    text-transform: uppercase;
}
